:root {
  --bg-dark: #1a2f3a;

  --logo-height: 100px;
  --header-height: 100px;
  --aside-width: 225px;
  --footer-height: 40px;

  --shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.app {
  margin: 0px;
  display: grid;
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas:
    "logo header"
    "menu content"
    "menu footer";
  height: 100vh;
  background-color: #f5f5f5;
}

aside.logo {
  grid-area: logo;
  background-color: rgb(112, 51, 255);
}

header.header {
  grid-area: header;
  background-color: rgb(51, 255, 119);
}

aside.menu-area {
  grid-area: menu;
  background-color: #a00fff;
}

main.content {
  grid-area: content;
  background-color: #f33;
}

footer.footer {
  grid-area: footer;
  background-color: #1a2f3a;
}
